<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasks management admin page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- <script src="/static/assets/js/functions.js"></script>
    
    <script src="/static/assets/plugins/jquery/jquery-3.1.0.min.js"></script>
    <script src="/static/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/static/assets/plugins/uniform/js/jquery.uniform.standalone.js"></script>
    <script src="/static/assets/plugins/flot/jquery.flot.min.js"></script>
    <script src ="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script> -->

</head>
<body>

    {{user}}

    <form id="form" name="form" onsubmit="func();">
        <input type="text" name="myInput"  id="myInput" class="form-control" placeholder="Tasks...">

  
            <button type="submit" class="btn btn-primary" >Add</button>


        <div >

            {% for t in taskadetails %}

            <label> {{t.tasks}} </label>

            {% endfor %}   

        </div>
    


    </form>

<script>

    
// Create a new list item when clicking on the "Add" button
function func() {
    console.log("coming");

    post_json(`/api/adminpage/home/`, function(data){
        alert('transaction created'+ data.id);
    //  window.location.reload();
    });
      

}

</script>

</body>

</html>
