<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page For Todolist</title>
    {% load static %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="/static/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static "/static/css/login_page.css" %}">
</head>

<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
          <br>
          <div class="fadeIn first">
              <img src="{% static "/favicon.png" %}"  />
            <h4>Login to Todolist</h4>
          </div>
          <form method="POST" action="{% url 'home' %}" >
            {% csrf_token %}
              {{ form.as_p}}
            <p>
            <label for="username">Username:</label>
            <input type="text" name="username" autocapitalize="none" autocomplete="username" 
            maxlength="150" requierd id="username" class="form-control">
          </p>
          <p>
            <label for="password">Password:</label>
            <input type="password" name="password" autocomplete="current-password" 
            requierd id="password" class="form-control">
          </p>
              <input class="btn btn-primary" value="login" type="submit" >
          </form>

          <div id="formFooter">
            <a class="underlineHover" href="https://www.halnode.com/">Powered by Halnode.com</a>
          </div>

        </div>
      </div>
</body>
</html>

<script>

  
function submit_data()
{     
     
    post_json('/api/loginpage/check/', $('#form').serializeJSON(), function(data){
        alert('transaction created'+ data.id);
        })

}
</script>

