<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    {{user}}

        <div >

            {% for t in taskadetails %}

            <input type="checkbox" name="check">

            <label> {{t.tasks}} </label>

            {% endfor %}   

        </div>
    


    </form>

    <script>

    
        // Create a new list item when clicking on the "Add" button
        function func() {
            console.log("coming");
        
            post_json(`/api/userpage/home/`, function(data){
                alert('transaction created'+ data.id);
            //  window.location.reload();
            });
              
        
        }
        
        </script>

</body>
</html>