<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Responsive Admin Dashboard Template">
        <meta name="keywords" content="admin,dashboard">
        <meta name="author" content="stacks">
        <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.png">

        <title>{% block title %} Base Page {% endblock %} - SSK ERP</title>

        <link href="/static/assets/css/ubuntu-font.css" rel="stylesheet">
        <link href="/static/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="/static/assets/plugins/icomoon/style.css" rel="stylesheet">
        <link href="/static/assets/plugins/uniform/css/default.css" rel="stylesheet"/>
        <link href="/static/assets/plugins/switchery/switchery.min.css" rel="stylesheet"/>
        <link href="/static/assets/plugins/datatables/css/jquery.datatables.min.css" rel="stylesheet" type="text/css"/>
        <link href="/static/assets/plugins/datatables/css/jquery.datatables_themeroller.css" rel="stylesheet"
              type="text/css"/>

        <link href="/static/assets/css/space.min.css" rel="stylesheet">
        <link href="/static/assets/css/themes/admin3.css" rel="stylesheet">
        <link href="/static/assets/css/custom.css" rel="stylesheet">
        <script src="/static/assets/plugins/jquery/jquery-3.1.0.min.js"></script>
        <script src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
        <script src="/static/assets/plugins/uniform/js/jquery.uniform.standalone.js"></script>
        <script src="/static/assets/plugins/switchery/switchery.min.js"></script>
        <script src="/static/assets/js/space.min.js"></script>
        <script src="/static/assets/js/functions.js"></script>
        <script src="/static/assets/js/serializejson.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>


        <link href="/static/assets/css/select2.min.css" rel="stylesheet" />
        <script src="/static/assets/js/select2.min.js"></script>
        <script src="/static/assets/plugins/flot/jquery.flot.min.js"></script>
{#  DataTable Libraries  ?#}
         <link href="https://cdn.datatables.net/rowgroup/1.1.2/css/rowGroup.dataTables.min.css">
        <link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
        <script src ="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
        <script src ="https://cdn.datatables.net/rowgroup/1.1.2/js/dataTables.rowGroup.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.flash.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>

    </head>
    <body class="page-sidebar-collapsed page-sidebar-fixed" onload="load_format_number();">

        <!-- Page Container -->
        <div class="page-container">
            <!-- Page Sidebar -->
            <div class="page-sidebar">
                <a class="logo-box" href="/">
                    <img src="/static/assets/images/halnode.png" width="23px">
                </a>

                <div class="page-sidebar-inner">
                    <div class="page-sidebar-menu">
                        <ul class="accordion-menu">
                            <li>
                                <a href="/home/">
                                    <i class="menu-icon icon-home4"></i><span>Home</span>
                                </a>
                            </li>
                            {% if user.is_superuser %}
                            <li>
                                <a href="javascript:void(0);">
                                    <i class=" menu-icon fa fa-bar-chart"></i></i><span>Analysis</span><i class="accordion-icon fa fa-angle-left"></i>
                                </a>
                                <ul class="sub-menu">
                                    <li><a href="/analysis/home/">Home</a></li>
                                </ul>
                            </li>
                            {% endif %}
                            {% if user.is_staff %}
                            
                            <li>
                                <a href="/admin/">
                                    <i class=" menu-icon fa fa-pencil-square-o"></i><span>Admin</span>
                                </a>
                            </li>
                            {% endif %}
                            <li>
                                <a href="javascript:void(0);">
                                    <i class=" menu-icon fa fa-exchange "></i></i><span>Inventory</span><i class="accordion-icon fa fa-angle-left"></i>
                                </a>
                                <ul class="sub-menu">
                                    <li><a href="/inventory/item-transactions/">Item Transactions</a></li>
                                    <li><a href="/inventory/item-transactions-2/">Item Transactions 2</a></li>
                                    <li><a href="/inventory/manual-qr-excel/">Get Manual QR Excel</a></li>
                                    <li><a href="/stock-transfer/list/">Stock Transfer</a></li>
                                    <li><a href="/inventory/stock-adjustment-in-list/">StockAdjustment In</a></li>
                                    <li><a href="/inventory/stock-adjustment-out-list/">StockAdjustment Out</a></li>
                                    <li><a href="/inventory/stock-item-transition">StockItemTransition</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <i class=" menu-icon fa fa-cart-plus"></i></i><span>Purchases</span><i class="accordion-icon fa fa-angle-left"></i>
                                </a>
                                <ul class="sub-menu">
                                    <li><a href="/purchase/purchase-list/">Purchases</a></li>
                                    <li><a href="/purchase/purchase-return-list/">Purchase Returns</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/dying/list/">
                                    <i class=" menu-icon fa fa-tint"></i><span>Dying</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <i class=" menu-icon fa fa-skyatlas"></i></i><span>Warping</span><i class="accordion-icon fa fa-angle-left"></i>
                                </a>
                                <ul class="sub-menu">
                                    <li><a href="/warping/warp-creation-list/">Home</a></li>
                                    <li><a href="/warping/purchase/">Purchase</a></li>
                                    <li><a href="/warping/sale/">Sale</a></li>
                                    <li><a href="/warping/stock-transfer/">Stock Transfer</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <i class=" menu-icon fa fa-ioxhost"></i></i><span>Looms</span><i class="accordion-icon fa fa-angle-left"></i>
                                </a>
                                <ul class="sub-menu">
                                    <li><a href="/looms/home/">Home</a></li>
                                    <li><a href="/looms/receipt/">Loom Receipt</a></li>
                                    <li><a href="/looms/issue/">Loom Issue</a></li>
                                    <li><a href="/looms/payment/">Looms Payment</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="/job-works/home/">
                                    <i class=" menu-icon fa fa-handshake-o"></i><span>Job Works</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0);">
                                    <i class=" menu-icon fa fa-file-text"></i><span>Sale Orders</span>
                                </a>
                                <ul class="sub-menu">
                                    <li><a href="/sale-orders/list/">Sale Orders</a></li>
                                    <li><a href="/sale-orders/add-saleorder/">New Sale Order</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <i class=" menu-icon fa fa-usd "></i><span>Sales</span><i class="accordion-icon fa fa-angle-left"></i>
                                </a>
                                <ul class="sub-menu">
                                    <li><a href="/sales/proforma-list/">Proforma Invoices</a></li>
                                    <li><a href="/sales/sale-list/">Sales</a></li>
                                    <li><a href="/sales/qr-sales/">QR Sales</a></li>
                                    <li><a href="/sales/merge-sales/">Merge Sales</a></li>
                                    <li><a href="/sales/sale-return-list/">Sale Returns</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="page-content">
                <div class="page-header">
                    <div class="search-form">
                        <form action="#" method="GET">
                            <div class="input-group">
                                <input type="text" name="search" class="form-control search-input" placeholder="Type something...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" id="close-search" type="button"><i class="icon-close"></i></button>
                                </span>
                            </div>
                        </form>
                    </div>
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <div class="logo-sm">
                                    <a href="javascript:void(0)" id="sidebar-toggle-button"><i class="fa fa-bars"></i></a>
                                    <a class="logo-box" href="/"><span>SSK ERP</span></a>
                                </div>
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <i class="fa fa-angle-down"></i>
                                </button>
                            </div>

                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li><a href="javascript:void(0)" id="toggle-fullscreen"><i class="fa fa-expand"></i></a></li>
                                    <li><a href="javascript:void(0)" id="search-button"><i class="fa fa-search"></i></a></li>
                                </ul>

                                <ul class="nav navbar-nav navbar-right">
                                    <li class="dropdown user-dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><h1><i class="fa fa-sign-out"></i></h1></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/logout/">Log Out</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="page-inner" id="main-wrapper">
                    {% block page %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
